
<div>
    <div class="row" style="margin:0px">
        <div class="col-3">
        </div>
        <div class="col-6" style="text-align: center">
            <br/>
            <img class="mb-4" src="assets/img/VFI_logo.svg" alt="">
            <h1>Welcome to the Project Tracker Application</h1>
            <br/>
            <div class="nav-list">
                    <a routerLink="userlogin"><button class="btn btn-block btn-lg btn-success" style="margin-right : 10px">
                            Login
                    </button>
                    </a>
                    <br/>
                    <a routerLink="register"><button class="btn btn-block btn-lg btn-primary" style="margin-right : 19px">
                            Register
                    </button>
                    </a>
                </div>
        </div>
        <div class="col-2">
        </div>
    </div>
    
</div>
